---
import { Icon } from "astro-icon/components";

const technologies = [
    {
        path: "technologies/angular",
        alt: "angular_icon",
        url: "https://angular.dev/",
    },
    {
        path: "technologies/react",
        alt: "react_icon",
        url: "https://react.dev/",
    },
    { path: "technologies/nest", alt: "nest_icon", url: "https://nestjs.com/" },
    {
        path: "technologies/flutter",
        alt: "flutter_icon",
        url: "https://flutter.dev/",
    },
];
---

<section>
    <ul class="flex items-center gap-10 justify-center sm:justify-start">
        {
            technologies.map((tech) => (
                <a href={tech.url} target="_blank">
                    <Icon
                        name={tech.path}
                        width={50}
                        height={50}
                        class="min-w-10 hover:fill-sky-950"
                    />
                </a>
            ))
        }
    </ul>
</section>
