<section class="bg-sky-950 text-white text-center flex flex-col justify-center items-center py-40 px-4">
    <div class="max-w-4xl">
        <h2 class="text-3xl font-bold">
            Construye el futuro de tu negocio con tecnología a tu medida
        </h2>
        <p class="mt-4 text-lg text-gray-300">
            En Veltrix, desarrollamos soluciones digitales robustas, optimizadas
            y seguras para llevar tus ideas más allá. ¡Hablemos y hagámoslo
            realidad!
        </p>

        <a
            class="bg-sky-600 hover:bg-sky-700 text-white font-semibold py-3 px-6 mt-6 inline-block w-full"
            href="https://wa.me/573147875028?text=Hola,%20quiero%20más%20información"
        >
            Contáctanos
        </a>
    </div>
</section>
<style>
    @media (min-width: 768px) {
        .responsive-container {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
</style>
