---
import { Icon } from "astro-icon/components";
---

<header
    class="flex justify-between items-center fixed top-0 left-0 w-full z-50 bg-white/70 backdrop-blur-3xl py-4 px-6"
>
    <a href="#">
        <img src="/logo.svg" class="h-15" />
    </a>

    <nav class="hidden list-none md:flex gap-10">
        <li><a href="#home" class="hover:text-sky-900">Inicio</a></li>
        <li><a href="#about" class="hover:text-sky-900">Sobre Nosotros</a></li>
        <li><a href="#" class="hover:text-sky-900">Nuestro Equipo</a></li>
        <li><a href="#" class="hover:text-sky-900">Contacto</a></li>

        <button>
            <Icon name="ui/mode_night" width={30} height={30} />
        </button>
    </nav>

    <!-- Botón de hamburguesa -->
    <button id="menu-toggle" class="md:hidden">
        <Icon name="ui/menu" width={30} height={30} />
    </button>

    <!-- Menú desplegable con blur mejorado -->
    <nav
        id="mobile-menu"
        class="hidden absolute top-16 left-0 w-full text-black text-center bg-white/70 backdrop-blur-3xl shadow-lg md:hidden"
    >
        <li
            class="py-2 list-none hover:bg-sky-950 hover:text-white cursor-pointer"
        >
            <a href="#home">Inicio</a>
        </li>
        <li
            class="py-2 list-none hover:bg-sky-950 hover:text-white cursor-pointer"
        >
            <a href="#about">Sobre Nosotros</a>
        </li>
        <li
            class="py-2 list-none hover:bg-sky-950 hover:text-white cursor-pointer"
        >
            <a href="#">Nuestro Equipo</a>
        </li>
        <li
            class="py-2 list-none hover:bg-sky-950 hover:text-white cursor-pointer"
        >
            <a href="#">Contacto</a>
        </li>
    </nav>
</header>

<!-- Agregar padding para evitar que el contenido quede tapado -->

<script src="../utils/toggle-navbar.ts"></script>
<script src="../utils/scroll-to-section.ts"></script>
