---
import OurServices from '../views/OurServices.astro'
import Hero from "../views/Hero.astro";
---

<section class="flex flex-col px-20 animate__animated animate__fadeIn" id="home">
    <Hero />
    <OurServices />
</section>
