---
---

<section class="flex items-center flex-col justify-center md:flex-row px-20" id="about">

    <div class="space-y-5 animate__animated animate__fadeIn"> 
        <h2 class="text-4xl font-bold">¿Quienes somos y que hacemos en <span class="font-[Orbitron] text-sky-900">VELTRIX</span>?</h2>
        <p class="max-w-150 leading-8 text-lg text-gray-500 font-medium">En Veltrix, desarrollamos software a medida con soluciones eficientes, escalables y seguras. Aplicamos tecnología de vanguardia y las mejores prácticas para garantizar alto rendimiento y optimización. Ya sea desarrollo web, backend o integración de sistemas, ofrecemos soluciones técnicas sólidas para empresas y emprendedores.</p>
        
        <button class="p-3 bg-sky-950 rounded-xl text-white w-50">
            Aprende más
        </button>
    </div>

    <img src="/vex-about.png" alt="Vex_Trabajando" class="min-w-100 animate__animated animate__fadeIn">


</section>