---
import Technologies from "../components/Technologies.astro"
---

<section class="w-full flex flex-col md:flex-row items-center justify-between">
    <div class="text-center md:text-left w-full">
        <h4 class="text-4xl md:text-4xl leading-tight font-bold">
            Transforma tus ideas en experiencias con
            <span class="text-sky-950 font-[Orbitron]">VELTRIX</span>
        </h4>
        <p class="max-w-lg text-lg md:text-xl text-gray-00 font-medium mt-5">
            Desarrollo de software eficiente, seguro y escalable, diseñado para
            optimizar procesos y llevar la innovación digital al siguiente nivel.
        </p>

        <div class="flex flex-col md:flex-row mt-10 gap-3 md:gap-5">
            <button class="bg-sky-950  hover:bg-sky-900 cursor-pointer p-3 text-white rounded-xl w-full md:w-56">
                Empieza ahora
            </button>
            <button class="bg-transparent hover:bg-sky-950 cursor-pointer hover:text-white p-3 text-sky-950 rounded-xl w-full md:w-56 border-2">
                Conoce más
            </button>
        </div>

        <section class="mt-5">
            <p class="mb-3 text-center md:text-left text-gray-400">Las tecnologías que usamos</p>
            <Technologies />
        </section>
    </div>

    <div class="mt-10 md:mt-0 flex justify-center w-full">
        <img src="/vex-hero.png" alt="vex" class="max-w-xs md:max-w-md lg:max-w-lg">
    </div>


</section>
